alembic==1.9.4
asyncpg==0.27.0
beautifulsoup4==4.11.2
loguru~=0.6.0
lxml==4.9.2
psycopg2-binary==2.9.5
python-dateutil==2.8.2
# python-telegram-bot==20.1 # if not webhooks used
python-telegram-bot[webhooks] # for webhooks
pytz==2022.7.1
requests==2.28.2
SQLAlchemy==2.0.4